<h2 mat-dialog-title>Confirm Delete</h2>
<mat-dialog-content>
    {{confirmMessage}}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- <button mat-raised-button
            color="secondary"
            (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        Cancel</button>
    <button mat-raised-button
            color="warn"
            (click)="delete()">
        <mat-icon>delete</mat-icon>
        Delete</button> -->
    <button mat-raised-button
            color="secondary"
            (click)="dialogRef.close(false)">
        <mat-icon>cancel</mat-icon>
        Cancel</button>
    <button mat-raised-button
            color="warn"
            (click)="dialogRef.close(true)">
        <mat-icon>delete</mat-icon>
        Delete</button>
</mat-dialog-actions>