.c1 {
  width: 100%;
}

.c2 {
  margin-top: 15px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}
mat-sidenav{
    width: 250px;
}
main{
    padding: 10px;
}
mat-sidenav {
  width: 200px;
  border-right: none;
  // background: #002b5c;
  color: white;
  padding: 16px;
  text-align: center;
} 